@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body,html{
  font-family: 'Poppins', sans-serif;
}

.custom-scrollbar {
  /* For Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.05);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
}

.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none;
  }
}